/lesson9-homework-1/lesson9-homework-1.xcworkspace/xcuserdata
xcschememanagement.plist
/lesson9-homework-1/lesson9-homework-1.xcodeproj/project.xcworkspace/xcuserdata/antonefimenko.xcuserdatad/UserInterfaceState.xcuserstate
/lesson9-homework-1/lesson9-homework-1.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
